@import "@/styles/theme";

.contentContainer {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  .conRight {
    display: block;
    width: 16rem;
    flex-shrink: 0;

    @media (max-width: $screenMediumWidth) {
      & {
        display: none;
      }
    }
  }

  .conMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background-color: #FFF;
    border-radius: 4px;

    .middleTop {
      border-bottom: solid 1px #e1e1e280;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem;
      font-size: 0.8rem;

      .topLeft,
      .topRight {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
      }

      .sortLink,
      .filterLink {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        color: #5b6679;
        text-decoration: none;
      }

      .activeLink {
        background-color: #e6e6e6;
      }
    }

    .middleBody {
      width: 100%;

      .middleItem {
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e4e6eb80;
        gap: 1rem;

        .itemDetail {
          display: flex;
          padding: 0.5rem 1rem;
          flex-direction: column;
          justify-content: flex-start;
          flex-grow: 1;
          height: 8rem;

          .description {
            flex-grow: 1;
            color: #8a919f;
            font-size: 13px;
            line-height: 22px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            overflow: hidden;
          }

          .action {
            height: 1rem;
            color: #8a919f;
            font-size: 12px;
            line-height: 22px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
          }
        }
      }
    }

    .middlePagination {
      width: 100%;
    }
  }
}


