
.contentContainer {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  .conTop {
    .linkTag {
      color: var(--text-primary-color);
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem 0.5rem;
      border-radius: 0.25rem;
      background-color: var(--background-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .conMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background-color: #FFF;
    border-radius: 4px;


    .middlePagination {
      width: 100%;
    }
  }

}


