.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-right: solid 1px #e3e3e3;
  overflow: hidden;
  position: relative;
}

.fileListContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.notebookSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-bottom: solid 1px #e3e3e3;
  height: 3rem;
}

.notebookTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 4px;
  padding: 0 0.5rem;
}

.notebookAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 0.5rem;
}

.libraryContainer {
  position: absolute;
  background-color: #F9F9F9;
  width: 100%;
  height: calc(100vh - 3rem);
  top: 3rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notebookItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
  cursor: default;

  &:hover {
    background-color: #DFDFDF;
  }
}

.notebookName {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.directorySelf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  cursor: default;

  &:hover {
    background-color: #DFDFDF;
  }

  .openIcon {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    img {
        width: 100%;
        height: 100%;
    }
  }
}

.directoryName {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: default;
  width: auto;
  padding-left: 4px;
}

.libraryList {
  height: calc(100vh - 6rem);
}

.newLibrary {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  border-top: solid 1px #e3e3e3;
  padding: 0 0.5rem;
}

.newNotebook {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  border-top: solid 1px #e3e3e3;
  padding: 0 0.5rem;
}
