build/
.idea/
install/
/packages/
.vs/
Browser/debug/
Docker/bin
debug/
build-*/
debug/
vcpkg_installed/
bazel-*
.cache/
CMakeLists.txt.user
.xmake/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
Polaris/wwwroot/assets/
Browser/debug/
Docker/bin
build/
debug/
publish/
*.DotSettings.user