.signinCard {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  text-align: center;
  color: var(--text-primary-color);

  .signinTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .signinBody {
    padding: 1rem;
  }
}
