.tableContainer {
  padding: 0.5rem 1rem;

  .articleTable {
    table-layout: fixed;
    margin-bottom: 0 !important;

    .columnCheck {
      width: 48px;
    }

    .columnTime {
      width: 160px;
    }

    .actionCol {
      :global(.fui-MenuButton__menuIcon) {
        display: contents;
      }
    }
  }
}

.channelTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.articleTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}