.toolBodyComponent {
  width: 1024px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .appGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    width: 100%;
    margin-bottom: 1rem;

    .appCard {
      border: 1px solid #e0e0e0;
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      aspect-ratio: 1/0.8;
      position: relative;

      .appImage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
        z-index: 0;
        object-fit: cover;
      }

      .appTitle {
        font-size: 20px;
        font-weight: 600;
        border-bottom: solid 1px #c4c4c4;
        position: relative;
        z-index: 2;
        padding: 16px;
      }

      .appDescription {
        margin: 0;
        padding: 16px;
        font-size: 16px;
        color: #555;
        position: relative;
        z-index: 2;
      }
    }
  }
}
