.childrenContainer {
  min-height: 100vh;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;

  .navbar {
    height: 48px;
    border-bottom: #d5d5d5 solid 0.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }

  .mainContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
}

.leftNav {
  width: 240px;
  border-right: solid 0.5px #d5d5d5;
}


.rightBody {
  flex: 1;
  background: #FFFFFF;
  height: calc(100vh - 48px);
  overflow-y: auto;
  overflow-x: hidden;
}
