.navHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .leftNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;

    .brandLink {
      text-decoration: none;
      font-size: 1rem;
    }
  }

  .rightNav {
    margin-right: 0.5rem;
  }

}

.navDrawer {
  width: 224px;

  .drawerHeader {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;

    .appSelector {
      color: #0078d4;
      width: 1.2rem;
      margin-right: 1rem;
      margin-bottom: 2px;
      cursor: default;
    }

    &:hover {
      background-color: #EFF8FF;
    }
  }

  .itemList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;

    .menuItem {
      height: 32px;
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: default;

      .menuLink {
        text-decoration: none;
        color: #3c3c3c;
      }

      &:hover {
        background-color: #EFF8FF;
      }
    }
  }
}

.navBackdrop {
  background-color: transparent;
}
