
.middleBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;

  .imageCard {
    border: solid 1px #E0E0E0;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    img {
      height: 4rem;
      width: 4rem;
      object-fit: cover;
    }
  }

}
