
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .conMiddle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-width: thin;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;

    .middlePagination {
      width: 100%;
      background: var(--background-color);
    }
  }
}


