.editContainer {
  .areaTitle {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .editRow {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    gap: 1rem;

    .infoColumn {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-grow: 1;

      .fieldsRow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        width: 100%;

        .infoField {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          border: solid 1px #ccc;
          border-radius: 2px;
          align-items: center;

          .fieldKey {
            padding: 0.4rem;
            background-color: #E8E8E8;
            font-size: 0.9rem;
            color: #333333;
            flex-shrink: 0;
          }

          .fieldValue {
            flex-grow: 1;
            overflow: hidden;

            input {
              border: none;
              outline: none;
              font-size: 1rem;
              width: 96%;
            }
          }
        }
      }

      .editorRow {
        width: 100%;
        border: solid 1px #ccc;
        border-radius: 4px;
        min-height: 6rem;
        overflow: hidden;

        textarea {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 0.5rem;
        }
      }

      .actionsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .emotionArea {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

        }

        .infoMsg {
          font-size: 0.9rem;
        }

        .submitArea {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
        }
      }
    }
  }

  .photoContainer {
    padding: 0.5rem;
    border: solid 1px #ccc;
    border-radius: 4px;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
