.consolePage {
  background: #FFFFFF;
  height: 100vh;

  .rightBody {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
  }

  .mainContainer {
    height: calc(100vh - 3rem);
  }

  .navbar {
    height: 40px;
    border-bottom: #d5d5d5 solid 0.5px;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
    background-color: #F5F5F5;
  }
}
