.notesContainer {
  position: absolute;
  left: 15rem;
  width: calc(100vw - 15rem);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .notebarContainer {
    position: absolute;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: solid 1px #e3e3e3;
    height: 100%;
  }

}
.directoryBar {
  width: 15rem;
  position: absolute;
  left: 0;
  height: 100%;
}
