@use '@/components/common/styles/theme';

.navHeader {
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-primary-color);

  @media screen and (min-width: theme.$screenExtraLargeWidth) {
    width: theme.$screenExtraLargeWidth;
    margin: 0 auto;
  }

  .leftNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;

    .brandLink {
      color: var(--text-primary-color);
      text-decoration: none;
      font-size: 1rem;
      display: inline-block;
      position: relative;
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  .rightNav {
    margin-right: 2rem;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    @media screen and (min-width: theme.$screenMediumWidth) {
      display: flex;
      margin-right: 1rem;
    }

    .toolsLink {
      text-decoration: none;
      color: var(--text-primary-color);
      cursor: pointer;
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .languages {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      margin-right: 0.5rem;

      a {
        text-decoration: none;
        color: var(--text-primary-color);
        font-size: 0.9rem;

        &.active {
          color: dodgerblue;
        }
      }
    }
  }

  .rightNavMobile {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-right: 1rem;

    .mobileMenu {
      display: inline-block;
      height: 1.8rem;
      width: 1.8rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (min-width: theme.$screenMediumWidth) {
      display: none;
    }
  }
}

