@use '@/components/common/styles/theme' as *;

.themeSelector {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  .themeIcon {
    color: $textColor;
    background: $backgroundColor;
  }
}
