
.userAction {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  .userPhoto {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    :hover {
      cursor: pointer;
      outline: 2px solid #f85f6c;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .loginLink {
    color: #4e4e4e;
    text-decoration: none;
    position: relative;
  }

  .logoutLink {
    color: #f85f6c;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    position: relative;
  }
}
