@use '@/components/common/styles/theme';

.channelsContainer {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 0;
}

.list {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  flex-grow: 1;
}

@media (max-width: theme.$screenMediumWidth) {
  .list {
    grid-template-columns: 1fr;
  }
}

.item {
  border-bottom: 1px solid #e5e6eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 16px;
  height: 4rem;
  transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
  opacity: 1;
  transform-origin: center top;
  overflow: visible;
  background-color: var(--background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
  color: var(--text-primary-color);
  position: relative;

  .title {
    flex-shrink: 0;
    width: 10rem;

    .link {
      color: var(--text-primary-color);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
    }
  }

  .description {
    color: var(--text-primary-color);
    font-size: 14px;
    line-height: 22px;
    flex-grow: 1;
    overflow: hidden;
    white-space: break-spaces;
    text-overflow: ellipsis;
  }

  .actions {
    height: 2rem;
    flex-shrink: 0;

    .readButton {
      display: block;
      padding: 6px 10px;
      background-color: var(--background-color);
      border-radius: 4px;
    }
  }

  .itemCover {
    flex-shrink: 0;
    position: relative;
    width: 3rem;
    height: 3rem;

    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 2px;
    }
  }
}


.item:last-child {
  border-bottom-width: 0;
}
