.noteList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;


  .noteCard {
    height: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    cursor: default;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  .noteSelf {
    display: flex;
    flex-direction: row;
  }

  .noteName {
    font-size: 1rem;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
