.searchPage {
  padding: 1rem;

  .pageContainer {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem auto;
    background: #ffffff;
    border-radius: 4px;
    padding: 1rem;
  }

  .contentContainer {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .conMiddle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-grow: 1;
      background-color: #FFF;
      border-radius: 4px;

      .middleBody {
        width: 100%;
      }

      .middlePagination {
        width: 100%;
      }
    }
  }
}
