.selectorBox {
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 0;

    .navLink {
        color: #4e4e4e;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 1rem;
        border-bottom: solid 1px #e0e0e0;
    }

    .navLink:last-child {
        border-width: 0;
    }
}

.navLink {
    color: #4e4e4e;
    text-decoration: none;
    font-size: 0.95rem;
}

.roleButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;


    a.siteLink {
        text-decoration: none;
        color: #4e4e4e;
        cursor: pointer;
        font-size: 1.05rem;
        font-weight: 400;
    }
}
