@use 'styles';

.consoleSidebar {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  width: styles.$consoleSidebarWidth;
  border-right: solid 1px #E0E0E0;
  flex-shrink: 0;

  a {
    text-decoration: none;
    color: var(--text-primary-color);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: solid 1px #E0E0E0;

    &:hover {
      background-color: var(--action-hover-color);
    }

    &.active {
      background-color: #E0E0E0;
      font-weight: bold;
    }
  }
}
