.stylesSidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-right: solid 1px #e3e3e3;
  overflow: hidden;
  position: relative;
}

