#turnstile-container {
  //display: none;
}

.turnstileContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;

  .turnstileOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.5;
    z-index: 99;
  }

  .turnstileBody {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    height: 160px;
    z-index: 100;

    .turnstileToolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .turnstileTitle {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333333;
      }
    }
  }
}
