$screenSmallWidth: 20rem; // 约320px，小于该屏幕宽度时，提示屏幕尺寸过小无法保证展示效果
$screenMediumWidth: 48rem; // 约768px，达到该屏幕宽度时显示中等屏幕模式
$screenLargeWidth: 80rem; // 约1280px，达到该屏幕宽度时显示大屏幕模式
$screenExtraLargeWidth: 120rem; // 约1920px，大于该屏幕宽度时，固定内容宽度为该数值并居中显示

$backgroundColor: var(--background-color);
$textColor: var(--text-color);
