
.articleCover {
  width: 100%;
  height: 12rem;
  position: relative;
  margin: 1rem auto 0;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0.9;
  background-color: var(--background-color);

  @media screen and (min-width: 80rem) {
    width: 80rem;
    margin: 1rem auto 0 auto;
  }

  .articleHeader {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    padding: 1rem;
    color: var(--color-text);

    .articleDescription {
      font-size: 1rem;
      color: var(--text-primary-color);
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .action {
      font-size: 14px;
      height: 1rem;
      color: var(--color-text);
      line-height: 22px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
    }
  }

  .coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
    mask: linear-gradient(to right, transparent 30%, var(--text-primary-color));
  }
}

.articleContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  //padding: 0 1rem 0 1rem;
  gap: 1rem;

  @media screen and (min-width: 80rem) {
    width: 80rem;
    margin: 1rem auto 0 auto;
  }

  .leftArea {
    //flex-grow: 1;
    border-radius: 2px;
    width: calc(100% - 20rem - 1rem);

    .commentsClient {
      margin-top: 1rem;
    }
  }

  .rightArea {
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    flex-shrink: 0;
    display: none;

    @media screen and (min-width: 80rem) {
      display: flex;
    }

    .channelCard {
      border-radius: 4px;
      background-color: var(--background-color);

      .channelTitle {
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem;
        border-bottom: solid 1px #e3e3e3;
      }

      .channelDescription {
        padding: 1rem;
      }
    }
  }
}

.articleInfo {
  display: block;
  background-color: var(--background-color);
  border-radius: 4px;
  border: solid 1px var(--divider-color);

  .articleBody {
    padding: 16px;
    background-color: var(--background-color);
    border-radius: 4px;
    position: relative; /*为了准确定位文章附件预览组件*/
  }

}

.articleTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
