.assertPreview {
  width: 100%;
  background: #fefefe;

  .previewHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #f3f3f3;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    .pathTitle {
      font-size: 16px;
      color: #3c3c3c;
    }
  }

  .previewBody {
    font-size: 14px;
    height: 100%;
    background: #fff;
  }
}

.textPreview {
  word-break: break-word;
  white-space: break-spaces;
}
