
.templateContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scrollbar-width: thin;

  .templateNavbar {
    width: 100vw;
    background-color: var(--background-color);
    border-bottom: solid 1px #d3d3d3;
  }

  .templateBody {
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;

    .bodyContainer {
      margin: 0 auto;
      @media screen and (min-width: 120rem) {
        width: 120rem - 24rem;
        margin: 0 auto;
      }
    }

  }
}

