@use '@/components/common/styles/theme';
@use '@/components/server/console/styles';

.bodyContainer {
  overflow: hidden;

  $coverHeight: 12rem;
  $bottomHeight: 4rem;

  .channelCover {
    width: calc(100vw - #{styles.$consoleSidebarWidth});
    height: $coverHeight;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .channelHeader {
      flex-grow: 1;
      position: relative;
      z-index: 1;
      border-radius: 4px;
      overflow: hidden;

      .channelTitle {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;
        padding-left: 1rem;

        input {
          width: calc(100% - 3rem);
          border-color: #b4b4b4;
          border-radius: 4px;
          border-width: 1px;
          padding: 0.5rem;
        }
      }

      .channelDescription {
        font-size: 1rem;
        color: var(--text-primary-color);
        padding-left: 1rem;

        textarea {
          resize: none;
          width: calc(100% - 3rem);
          height: 5rem;
          border-color: #b4b4b4;
          border-radius: 4px;
          padding: 0.5rem;
          scrollbar-width: thin;
        }
      }
    }

    .coverImage {
      width: 8rem;
      height: 8rem;
      flex-shrink: 0;
      object-fit: cover;
      top: 0;
      z-index: 0;
      margin-right: 1rem;
    }
  }

  .channelContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: calc(100vw - #{styles.$consoleSidebarWidth} - 2rem);
    height: calc(100vh - #{$coverHeight} - $bottomHeight - 6rem);
    gap: 1rem;
    background: var(--background-color);
    padding: 1rem;

    @media screen and (min-width: theme.$screenLargeWidth) {
      width: 80vw;
      margin: 1rem auto 0 auto;
    }
  }

  .bottomBar {
    height: $bottomHeight;
    width: 100vw;
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    @media screen and (min-width: theme.$screenLargeWidth) {
      width: 80vw;
      margin: 1rem auto 0 auto;
    }
  }

}
