
.contentContainer {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  .conRight {
    display: block;
    width: 16rem;
    flex-shrink: 0;

    @media (max-width: 48rem) {
      & {
        display: none;
      }
    }
  }

  .conMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background-color: var(--background-color);
    border-radius: 4px;

    .middleBody {
      width: 100%;

      .middleItem {
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e4e6eb80;
        gap: 1rem;

        .itemDetail {
          display: flex;
          padding: 0.5rem 1rem;
          flex-direction: column;
          justify-content: flex-start;
          flex-grow: 1;
          height: 8rem;

          .description {
            flex-grow: 1;
            color: var(--text-primary-color);
            font-size: 13px;
            line-height: 22px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            overflow: hidden;
          }

          .action {
            height: 1rem;
            color: var(--text-primary-color);
            font-size: 12px;
            line-height: 22px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
          }
        }
      }
    }

    .middlePagination {
      width: 100%;
    }
  }
}


