@import "src/styles/variables.scss";

.consolePage {
  background: #FFFFFF;
  height: 100vh;

  .navbar {
    height: $navHeight;
    border-bottom: #d5d5d5 solid 0.5px;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
    background-color: #F5F5F5;
  }

  .mainContainer {
    height: calc(100vh - 2.5rem);

    .leftNav {
      width: 2.5rem;
      position: absolute;
      left: 0;
      height: 100%;
    }

    .rightBody {
      position: absolute;
      left: 2.5rem;
      width: calc(100vw - 2.5rem);
      height: calc(200vh - 2.5rem);
      background: #FFFFFF;
    }

  }
}
