.notesPage {


  .directoryBar {
    width: 15rem;
    position: absolute;
    left: 0;
    height: 100%;
  }

  .notesContainer {
    position: absolute;
    left: 15rem;
    width: calc(100vw - 17.5rem);
    height: calc(100vh - 2.5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;

    .noteViewer {
      position: absolute;
      left: 50%;
      width: 50%;
      max-width: 50%;
      height: 100%;
      border-left: solid 1px #e3e3e3;

      .noteTitle {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: auto;
        padding-left: 4px;
        font-size: 1.5rem;
        font-weight: bold;
        outline: none;
        line-height: 1.6;
        word-wrap: normal;
      }

      .editorArea {
        height: 100%;
        display: flex;
        flex-direction: column;

        .titleCol {
          padding: 8px;
          flex-shrink: 0;
          font-size: 0.9rem;
          border-bottom: solid 1px #e3e3e3;
        }

        .previewCol {
          height: 50%;
          flex-grow: 1;
          position: relative;
          padding: 1rem;

          .preview {
            height: calc(100% - 0rem);
            overflow: hidden;
            box-sizing: content-box;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }


}
