.searchPage {
  padding: 1rem;

  .pageContainer {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1rem auto;
    background: #ffffff;
    border-radius: 4px;
    padding: 1rem;

    .condLabel {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 16px;
    }

    .dataDir {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        color: #5b6679;
        text-decoration: none;
        margin-right: 0.5rem;
      }

      a.active {
        color: #0078d4;
      }
    }
  }

  .contentContainer {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .conMiddle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-grow: 1;
      background-color: #FFF;
      border-radius: 4px;


      .middlePagination {
        width: 100%;
      }
    }
  }
}
