@use '@/components/common/styles/theme';

.middleItem {
  border-bottom: solid 1px #e4e6eb80;

  .imageCover {

    flex-shrink: 0;
    position: relative;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2px;
    }
  }

  .imageInfo {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    .itemTitle {

      height: 1.5rem;
      flex-shrink: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #252933;
      overflow: hidden;

      a {
        color: #252933;
        text-decoration: none;
      }
    }

    .action {
      height: 1rem;
      color: #8a919f;
      font-size: 12px;
      line-height: 22px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
    }
  }
}
