@use '@/components/common/styles/theme';

.middleBody {
  width: 100%;

  .middleItem {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #e4e6eb80;
    gap: 1rem;

    .itemDetail {
      display: flex;
      padding: 0.5rem 1rem;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
      height: 8rem;

      .itemTitle {

        height: 1.5rem;
        flex-shrink: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color);
        overflow: hidden;

        a {
          color: var(--text-color);
          text-decoration: none;
        }
      }

      .description {
        flex-grow: 1;
        color: var(--text-color);
        font-size: 13px;
        line-height: 22px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
      }

      .action {
        height: 1rem;
        color: var(--text-color);
        font-size: 12px;
        line-height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
      }
    }

    .itemCover {
      flex-shrink: 0;
      width: 12rem;
      height: 8rem;
      position: relative;
      margin-right: 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
      }
    }
  }
}
