.rankCard {
  background-color: var(--background-color);
  border-radius: 4px;

  .rankHeader {
    padding: 0.5rem 1rem;
    border-bottom: solid 1px #e1e1e280;
    font-size: 1rem;
  }

  .rankBody {
    padding: 1rem;

    .rankTitle {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;

      a {
        color: var(--text-primary-color);
        text-decoration: none;
      }
    }

    .rankItem {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      padding: 4px 0;

      &:hover {
        background-color: #f1f2f7;
      }

      .rankIndex {
        text-align: center;
        width: 1.5rem;
        flex-shrink: 0;
        font-family: Archivo, serif;
        font-weight: 700;
      }

      .rankTop {
        color: red;
      }
    }
  }
}
