.Table {
  table-layout: fixed;

  .columnCheck {
    width: 48px;
  }

  .columnTime {
    width: 160px;
  }

  .columnOperator {
    width: 120px;
  }
}

.Title {
  overflow: hidden;
  text-overflow: ellipsis;
}
