@charset "UTF-8";

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import "tailwindcss";

@plugin "daisyui";

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #4a4a4a;
    font-family: Roboto, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-size: 13px;
}

@media (min-width: 20rem) {
    html,
    body {
        font-size: 14px;
    }
}

@media (min-width: 48rem) {
    html,
    body {
        font-size: 15px;
    }
}

@media (min-width: 80rem) {
    html,
    body {
        font-size: 16px;
    }
}

#serverData {
    display: none !important;
}


nextjs-portal {
    display: none;
}
