@charset "UTF-8";

@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@plugin "daisyui";

:root {
    --background-color: #ffffff;
    --text-color: #000000;

    --screenSmallWidth: 20rem; /* 约320px，小于该屏幕宽度时，提示屏幕尺寸过小无法保证展示效果 */
    --screenMediumWidth: 48rem; /*  约768px，达到该屏幕宽度时显示中等屏幕模式 */
    --screenLargeWidth: 80rem; /* 约1280px，达到该屏幕宽度时显示大屏幕模式 */
    --screenExtraLargeWidth: 120rem; /* 约1920px，大于该屏幕宽度时，固定内容宽度为该数值并居中显示 */
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--text-color);
    font-family: Roboto, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-size: 13px;
}

body.darkTheme {
    --background-color: #000000;
    --text-color: #ffffff;
}

@media (min-width: 20rem) {
    html,
    body {
        font-size: 14px;
    }
}

@media (min-width: 48rem) {
    html,
    body {
        font-size: 15px;
    }
}

@media (min-width: 80rem) {
    html,
    body {
        font-size: 16px;
    }
}

#serverData {
    display: none !important;
}


/*nextjs-portal {*/
/*    display: none;*/
/*}*/
