@charset "UTF-8";

@use '@/components/common/styles/theme';
@import "tailwindcss";

@plugin "daisyui";

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #4a4a4a;
  font-family: Roboto, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 13px;
}

@media (min-width: theme.$screenSmallWidth) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: theme.$screenMediumWidth) {
  html,
  body {
    font-size: 15px;
  }
}

@media (min-width: theme.$screenLargeWidth) {
  html,
  body {
    font-size: 16px;
  }
}

#serverData {
  display: none !important;
}


nextjs-portal {
  display: none;
}
