.stylePageItemActive {
  background-color: rgba(42, 142, 224, 0.84);
  display: inline-block;
  min-width: 16px;
  text-decoration: none;
  width: 32px;
  text-align: center;
  color: #FFFFFF;
}

.pageContent {
  margin: 0.5rem
}

.stylePageItem {
  padding: 8px;
  margin-right: 4px;
  min-width: 16px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  width: 32px;
  height: 32px;
}

.pageList {

  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  list-style: none;
  padding: 0 16px 0 16px;
}
