.userInfoContainer {
  .userInfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    margin-top: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .avatar {
      width: 12rem;
      height: 8rem;
      border-radius: 50%;
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .editLink {
      display: inline-block;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    .details {
      display: table;
      align-items: center;
      text-align: center;
      margin: 0 auto;

      .row {
        display: table-row;
        font-weight: bold;
        margin-bottom: 10px;

        .rowLabel {
          font-weight: normal;
          color: var(--text-primary-color);
          width: 50%;
          display: table-cell;
          text-align: right;
          padding-right: 1rem;
        }

        .rowContent {
          color: var(--text-primary-color);
          font-size: 1rem;
          display: table-cell;
          text-align: left;
          word-break: break-all;
        }
      }
    }
  }
}
