.consolePage {
  background: #FFFFFF;
  height: 100vh;

  .mainContainer {
    height: calc(100vh - 3rem);

    .topHeader {
      height: 2.5rem;
      background-color: #F5F5F5;
      border-bottom: #d5d5d5 solid 0.5px;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .navIconGroup {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem;
      }

      .navLocation {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        padding: 0.5rem;

        .locationInput {
          border: solid 1px #F5F5F5;
          background: #FFFFFF;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          width: 60rem;
          border-radius: 4px;
        }
      }
    }

    .bottomBody {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: #FFFFFF;
    }

  }

  .navbar {
    height: 40px;
    border-bottom: #d5d5d5 solid 0.5px;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
    background-color: #F5F5F5;
  }
}
