@charset "UTF-8";

@import '@/styles/theme';

html,
body {
  width: 100vw;
  height: 100vh;
  min-width: 20em;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #4a4a4a;
  font-family: Roboto, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

@media (min-width: $screenMediumWidth) {
  html,
  body {
    font-size: 16px;
  }
}

#serverData {
  display: none !important;
}

nextjs-portal {
  display: none;
}
