.consoleFeature {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-right: #eeeeee 0.5px solid;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;

    .topArea {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;
        flex-grow: 1;

        .featureList {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            gap: 16px;
            flex-grow: 1;
        }

        .trashList {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            gap: 16px;
            flex-grow: 1;
        }

        .featureButton {
            width: 24px;
            height: 24px;
            position: relative;
        }
    }

    .bottomArea {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        width: 100%;

        .profilesList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            width: 100%;
            border-top: #eeeeee 0.5px solid;
            padding-top: 8px;

            .profileButton {
                width: 24px;
                height: 24px;
                position: relative;
                border-radius: 12px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    object-fit: cover;
                }
            }
        }

        .accountList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            width: 100%;
            border-top: #eeeeee 0.5px solid;
            padding-top: 8px;
            padding-bottom: 8px;

            .accountButton {
                width: 28px;
                height: 28px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 14px;
                    object-fit: cover;
                }
            }
        }
    }
}