.tocCard {
  background-color: var(--background-color);
  border-radius: 4px;
  border: 1px solid var(--text-primary-color);
}

.tocHeader {
  padding: 1rem;
  border-bottom: solid 1px #e1e1e280;
}

.tocBody {
  padding: 1rem;
}

.tocItem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  font-size: 14px;
}

.itemHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: var(--text-primary-color);
    text-decoration: none;
  }
}
