
.contentContainer {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  .conRight {
    display: block;
    width: 16rem;
    flex-shrink: 0;

    @media (max-width: 48rem) {
      & {
        display: none;
      }
    }
  }

  .conMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background-color: var(--background-color);
    border-radius: 4px;

    .middlePagination {
      width: 100%;
    }
  }
}


