.base32Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  height: 100%;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;

  .sourceText {
    width: 800px;
    height: 160px;
    padding: 8px;
    flex-shrink: 0;
    background: #FFFFFF;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
  }

  .toolButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
  }

  .targetText {
    width: 800px;
    height: 160px;
    padding: 8px;
    flex-shrink: 0;
    background: #FFFFFF;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
  }

  .commentsClient {
    width: 548px;
  }
}
