@use '@/components/common/styles/theme';

.middleBody {
  width: 100%;
  background: #FFFFFF;

  .middleItem {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #e4e6eb80;

    .itemTitle {
      flex-shrink: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #252933;
      padding-left: 1rem;

      a {
        width: 10rem;
        display: inline-block;
        height: 1.5rem;
        color: #252933;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .description {
      flex-grow: 1;
      color: #8a919f;
      font-size: 13px;
      line-height: 22px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    .action {
      height: 1rem;
      width: 10rem;
      flex-shrink: 0;
      color: #8a919f;
      font-size: 12px;
      line-height: 22px;
      gap: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .itemCover {
      height: 3rem;
      width: 3rem;
      flex-shrink: 0;
      position: relative;
      margin-right: 1rem;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 2px;
      }
    }

  }
}
