@import "@/styles/theme";

.articleCover {
  width: 100%;
  height: 160px;
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 4px;
  overflow: hidden;

  @media (max-width: $screenMediumWidth) {
    & {
      height: 200px;
    }
  }


  .coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.articleContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;

  .leftArea {
    flex-grow: 1;
    border-radius: 2px;

    .articleHeader {
      background: #FFFFFF;
      border-radius: 4px;
      overflow: hidden;
      padding: 1rem;

      .articleDescription {
        font-size: 1rem;
        color: #474747;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .action {
        font-size: 14px;
        height: 1rem;
        color: #8a919f;
        line-height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
      }
    }
  }

  .rightArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    flex-shrink: 0;

    .channelCard {
      border-radius: 4px;
      background-color: #FFFFFF;

      .channelTitle {
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem;
        border-bottom: solid 1px #e3e3e3;
      }

      .channelDescription {
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: 48rem) {
  .articleContainer {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 0 1rem 0 1rem;

    .leftArea {
      width: 100%;
    }

    .rightArea {
      display: none;
    }
  }

}

.articleInfo {
  margin-top: 1rem;
  display: block;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 4px;

  .articleBody {
    background: #FFFFFF;
    border-radius: 4px;
  }

}

.articleTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
