@use '@/components/common/styles/theme';

.contentContainer {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  .conRight {
    display: block;
    width: 16rem;
    flex-shrink: 0;

    @media (max-width: theme.$screenMediumWidth) {
      & {
        display: none;
      }
    }

    .filterCard {
      background-color: #FFF;
      border-radius: 4px;

      .filterHeader {
        padding: 0.5rem 1rem;
        border-bottom: solid 1px #e1e1e280;
        font-size: 1rem;
      }

      .filterBody {
        padding: 1rem;

        .filterTitle {
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;

          a {
            color: #252933;
            text-decoration: none;
          }
        }

        .filterItem {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          align-items: center;
          padding: 4px 0;

          &:hover {
            background-color: #f1f2f7;
          }

        }
      }
    }


  }

  .conMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background-color: #FFF;
    border-radius: 4px;

    .imageGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
      margin: 1rem;
      width: calc(100% - 2rem);

      .imageCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        transition: all 0.3s;
        aspect-ratio: 1 / 1;

        .imageIcon {
          font-size: 3rem;
          color: #333;
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

      }
    }

    .middlePagination {
      width: 100%;
    }
  }

}


