@use '@/components/common/styles/theme';

.bodyContainer {
  overflow: hidden;

  $coverHeight: 12rem;
  $bottomHeight: 4rem;

  .articleCover {
    width: 100vw;
    height: $coverHeight;
    position: relative;
    margin: 1rem auto 0;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0.9;
    background: #FFFFFF;

    @media screen and (min-width: theme.$screenLargeWidth) {
      width: 80vw;
      margin: 1rem auto 0 auto;
    }

    .articleHeader {
      position: relative;
      z-index: 1;
      border-radius: 4px;
      overflow: hidden;
      padding: 1rem;

      .articleTitle {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;

        input {
          width: calc(100% - 3rem);
          border-color: #b4b4b4;
          border-radius: 4px;
          border-width: 1px;
          padding: 0.5rem;
        }
      }

      .articleDescription {
        font-size: 1rem;
        color: #474747;
        margin-top: 1rem;
        margin-bottom: 1rem;

        textarea {
          resize: none;
          width: calc(100% - 3rem);
          height: 5rem;
          border-color: #b4b4b4;
          border-radius: 4px;
          padding: 0.5rem;
          scrollbar-width: thin;
        }
      }
    }

    .coverImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      z-index: 0;
      mask: linear-gradient(to right, transparent 30%, #000);
    }
  }

  .articleContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: calc(100vw - 2rem);
    height: calc(100vh - #{$coverHeight} - $bottomHeight - 6rem);
    gap: 1rem;
    background: #FFFFFF;
    padding: 1rem;

    @media screen and (min-width: theme.$screenLargeWidth) {
      width: 80vw;
      margin: 1rem auto 0 auto;
    }
  }

  .bottomBar {
    height: $bottomHeight;
    width: 100vw;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    @media screen and (min-width: theme.$screenLargeWidth) {
      width: 80vw;
      margin: 1rem auto 0 auto;
    }
  }

}
