.navigatorBar {
  height: 48px;
  background: #F2F2F2;
  border-bottom: solid 0.5px #e3e3e3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;

  .navIcon {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .uriLocation {
    background: #FFFFFF;
    border-radius: 4px;
    flex-grow: 1;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    font-size: 0.95rem;

    input {
      border: none;
      background: none;
      height: 100%;
      width: 100%;
      padding: 0 0.5rem;
      font-size: 0.95rem;
    }
  }

  .searchContainer {
    background: #FFFFFF;
    border-radius: 4px;
    height: 28px;
    width: 200px;

    input {
      border: none;
      background: none;
      height: 100%;
      width: 100%;
      padding: 0 0.5rem;
      font-size: 0.95rem;
    }
  }
}
